# Ignore configuration folders and temporary files
.git
.github/
.env
docker-compose.yml

# Ignore log files
*.log

# Ignore output and compiled files
*.pyc
__pycache__/
*.pyo
*.pyd

# Ignore notebooks (if not needed for the production environment)
*.ipynb

# Ignore the example folder if it's not necessary for the Docker image
#example/

# Ignore documentation files
# README.md
LICENSE
manual.py

# Ignore anything else that's not relevant to the application
Dockerfile
.venv/

build.ps1
docker*
launcher.bat
manual.bat
test_ulaw.py
