# Python related
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Distribution folder
dist/

# Output and models
output/
models/
xtts_models/
xtts_api_server/models/

# Test folder
test/

# Specific files
xtts_api_server/RealtimeTTS/engines/coqui_engine_old.py

# Additional project-specific
modules-xtts.txt

# Other directories
speakers/
